
@using GarmentsOnlineShop.Models.DepartmentAndCategories
@model CatergoryModel
@using (Html.BeginForm("UpdateCategory", "DepartmentsAndCategories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.id)
    <div class="form-group">
        <div class="input-group">
            @Html.TextBoxFor(m => m.name, Model.name, new { @class = "form-control"})

            <label>Select picture of Category</label>
            <input name="pic" type="file" />

            <button type="submit" class="btn pull-right"><span class="glyphicon glyphicon-save">Update</span></button>
        </div>
    </div>
}