@using EntitiesLibrary.Garments;
@using GarmentsOnlineShop.Models
@model IEnumerable<Fabrics>


@{
    ViewBag.Title = "Add Fabrics";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    AlertModel alert = TempData["alert"] as AlertModel;
}
@if (alert != null)
{
    @Html.Partial("~/Views/Shared/_Alert.cshtml", alert)
}
<div class="container" style="margin-top:25px">

    @using (Html.BeginForm("AddFabrics", "Products", new { enctype = "multipart/form-data" }))
    {
        <label>Enter fabric name here</label>
            <div class="form-group form-inline">
                <div class="input-group">
                    @Html.TextBox("Name", null, new { @class = "form-control", placeholder = "Fabric name" })
                </div>
            </div>
            <div class="form-group" style="margin:10px 0px;">
                <button type="submit" class="btn"> <span class="glyphicon glyphicon-save"></span></button>
                <button id="cancel" type="reset" class="btn"> <span class="glyphicon glyphicon-remove"></span></button>
            </div>
    }

</div>
<table class="table table-bordered table-responsive">
    <thead style="background-color:rgba(77, 68, 68, 0.84)">
        <tr>

            <th class="col-lg-12" style="color:white">Name</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var m in Model)
            {
                <tr>

                    <td class="col-lg-12">
                        <h4>@m.Name</h4>
                    </td>

                </tr>
            }
        }
    </tbody>
</table>


@section scripts{
    <script type="text/javascript">

            $("#cancel").click(function () {
                location.reload();
            });


    </script>
    }