
    <input id ="I"name="id" type="hidden"/>
    <input id="N" name="name" type="text" class="form-control" placeholder="Enter Country Name" value="" />
    <input id="C" name="code" type="number" class="form-control" placeholder="Enter Country Code" value=""/>
    <button id="Ubtn" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-save"></span></button>
   
    
