
@{
    ViewBag.Title = "Form";
    //int? countryId = TempData["Cid"] as int?;
}

@*<form action="AddProvinces" method="post">*@
  <input name="name" type="text" class="form-control" placeholder="Enter Name" />
  @*<input name="id" type="hidden" value= @ />*@
  <button id="updatebutton" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-save" ></span></button>
  <button id="cancelbtn" type="reset" class="btn btn-default"><span class="glyphicon glyphicon-eject"></span></button>
 
